.question--card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
}

.question--card__header {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
}

.question--user__img {
  width: 50px;
  height: 100%;
}

.question--user__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.question--user__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100%;
}

.question--user__days {
  color: rgba(157, 151, 151, 0.945);
}

.question--user__links {
  position: relative;
  cursor: pointer;
}

.question--user__links .question--tooltip {
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 10%;
  position: absolute;
  left: -200px;
  visibility: hidden;
  height: auto;
  width: 200px;
  padding: 10px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 5px;
}

.question--user__links:hover .question--tooltip {
  visibility: visible;
}

.question--tooltip__item {
  padding: 10px;
  border-radius: 5px;
}

.question--tooltip__item:hover {
  background-color: var(--lightBlue);
  color: var(--cream);
}

.question--card__body {
  height: auto;
}

.question--card__footer {
  display: flex;
  gap: 20px;
}

.question--btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--lightBlue);
  color: var(--cream);
  padding: 10px 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.question--btn:hover {
  background-color: var(--darkBlue);
}

.view--ans__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--charcoal);
  width: 150px;
  padding: 5px 0;
  border-radius: 5px;
  font-size: 12px;
  color: gray;
  background-color: transparent;
  cursor: pointer;
}

.view--ans__btn:disabled {
  cursor: not-allowed;
}

.view--ans__btn span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightBlue);
  color: white;
  padding: 4px 9px;
  border-radius: 50%;
  font-size: 10px;
}

.view--ans__btn span:hover {
  background-color: var(--cream);
  color: var(--lightBlue);
}

.view--ans__btn:hover {
  color: white;
  border: none;
  background-color: var(--lightBlue);
}

@media screen and (max-width:460px) {
  .question--user__details {
    font-size: 14px;
  }

  .question--card__body {
    font-size: 12px;
  }

  .question--tooltip {
    font-size: 12px;
  }

  .question--tooltip__item {
    padding: 7px;
  }
}
