.reply--modal {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  background-color: white;
  z-index: 2;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
}

.reply--modal__header {
  display: flex;
  justify-content: space-between;
}

.reply--modal textarea {
  height: 150px;
  padding: 10px;
  outline: none;
  border: 1px solid var(--lightBlue);
  border-radius: 5px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .reply--modal {
    width: 80%;
  }
}