.answersCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border-radius: 5px;
  height: 300px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
}

.answersCard__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.answersCard__header--user img {
  width: 60px;
  height: 100%;
  border-radius: 50%;
}

.answersCard__header--user {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.answersCard--footer {
  display: flex;
  gap: 20px;
}

.like--btn {
  background-color: var(--lightBlue);
  padding: 6px 20px;
  color: var(--cream);
  cursor: pointer;
  border-radius: 5px;
}

.accept--btn {
  background-color: var(--lightBlue);
  color: var(--cream);
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 5px;
}
