.answersCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: coral;
  height: 300px;
}

.answersCard__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.answersCard__header img {
  width: 10%;
  height: 100%;
  border-radius: 50%;
}