.answers--container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
  align-items: flex-end;
}

.answersCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
  width: 95%;
}

.answersCard__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.answersCard__header--user img {
  width: 50px;
  height: 100%;
  border-radius: 50%;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cream);
  width: 50px;
  height: 100%;
  border-radius: 50%;
  background-color: var(--lightBlue);
  font-size: 20px;
  font-weight: bold;
}

.answersCard__header--user {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.answersCard__header--user p {
  color: gray;
}

.answersCard--footer {
  display: flex;
  gap: 20px;
}

.like--btn {
  display: flex;
  align-items: center;
  justify-content: center                                                                                                                                                                                               ;
  background-color: var(--lightBlue);
  padding: 5px 14px;
  color: var(--cream);
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
}

.dislike--btn {
  transform: rotateY(180deg);
}

.accept--btn {
  background-color: var(--lightBlue);
  color: var(--cream);
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
}

.answer--comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.answer--comments__input {
  display: flex;
  align-items: center;
  gap: 20px;
}

.answer--comments__input input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--charcoal);
  background-color: transparent;
  font-size: 12px;
}

.comment--container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comments--btn {
  background-color: var(--lightBlue);
  padding: 4px 10px;
  color: var(--cream);
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .answer--comments__input {
    flex-direction: column;
    gap: 5px;
  }
}