.profile--page {
  display: flex;
  gap: 20px;
  padding: 20px;
  min-height: 100%;
  max-width: 1024px;
  margin: auto;
  flex-direction: column;
}



.profile--page__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .profile--page{
    flex-direction: row;
  }
  .profile--page__left {
    width: 300px;
  }
}

.profile--image {
  width: 150px;
  height: 150px;
}

.profile--image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile--page__right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
}

.profile--right__top {
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: auto;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 5px;
}

.profile--item {
  padding: 10px 0;
  display: flex;
  opacity: 70%;
}

.profile--item span{
  width: 100px;
  display: block;
  font-weight: bold;
}

.profile--item:not(:last-child) {
  border-bottom: 1px solid var(--charcoal);
}

.profile--right__bottom {
  border-radius: 5px;
  height: 500px;
  padding: 20px;
}

.profile--bottom__header {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--charcoal);
}
.profile--quizes__recent {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-right: 1px solid black;
  cursor: pointer;
}

.profile--quizes--mostAnswered {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
}