.profile--page {
  display: flex;
  gap: 20px;
  padding: 20px;
  min-height: 100%;
}

.profile--page__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
}

.profile--image {
  width: 150px;
  height: 150px;
}

.profile--image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.profile--page__right {
  background-color: aliceblue;
  flex: 1;
}