.viewAnswer--modal {
  width: 60%;
  height: 80%;
  background-color: white;
  z-index: 2;
  border-radius: 5px;
  padding: 20px;
}

.viewAnswer--header {
  display: flex;
  justify-content: space-between;
}

.viewAnswer--body {
  overflow-y: scroll;
  height: calc(100% - 50px);
  overflow-y: scroll;
  margin-top: 10px;
}
