.header {
  /* max-width: 1200px; */
  height: 60px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
  background-color: violet;
}

.header--box {
  display: flex;
  align-items: center;
  max-width: 1250px;
  background-color: wheat;
  height: 100%;
  margin: 0 auto;
}


.header--intro {
  height: 100%;
  flex-basis: 10%;
  background-color: aqua;
}

.header--auth {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  flex-basis: 90%;
  background-color: yellowgreen;
  gap: 20px;
}