.sidebar--footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  visibility: hidden;
   border-top: 1px solid var(--charcoal);
}

.sidebar--footer__item {
  padding: 10px;
  background-color: var(--lightBlue);
  border-radius: 5px;
  color: var(--cream);
  cursor: pointer;
}

.sidebar--footer__user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--lightBlue);
  color: var(--cream);
  border-radius: 5px;
  cursor: pointer;
}

.sidebar--popup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 20px;
  border-radius: 5px;
   box-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
}

.sidebar--popup__item {
  padding: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .sidebar--footer {
    visibility: visible;
  }
}