* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --sky: #7f73ef;
  --cream: #fef9f8;
  --charcoal: #0d0d0d;
  --darkBlue: #0003a1c9;
  --lightBlue: #1E8FFB;
}

body {
  background-color: var(--cream);
  color: var(--charcoal);
}