@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --sky: #7f73ef;
  --cream: #fef9f8;
  --charcoal: #0d0d0d;
  --darkBlue: #1978dd;
  --lightBlue: #1E8FFB;
}

body {
  background-color: var(--cream);
  color: var(--charcoal);
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  font-weight: 400;
  background-color: var(--lightBlue);
  padding: 5px 15px;
  border-radius: 5px;
  color: var(--cream);
}

.submitButton {
  background-color: var(--lightBlue);
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  color: var(--cream);
  text-transform: uppercase;
  letter-spacing: 6px;
  cursor: pointer;
  font-weight: bold;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cream);
  width: 50px;
  height: 100%;
  border-radius: 50%;
  background-color: var(--lightBlue);
  font-size: 20px;
  font-weight: bold;
}