* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --sky: #7f73ef;
  --cream: #fef9f8;
  --charcoal: #0d0d0d;
}

body {
  background-color: var(--cream);
  color: var(--charcoal);
}