.homepage {
  max-width: 1250px;
  padding: 20px 0;
  margin: 0 auto;
}

.homepage--container {
  display: flex;
  gap: 20px;
  height: 100%;
}

.homepage--all {
  flex-basis: 65%;
}

.homepage--all__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 40px; */
  padding: 20px 0;
}

.homepage--search {
  flex: 1;
}

.homepage--search input {
  width: 80%;
  padding: 10px 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--lightBlue);
  background-color: transparent;
}

.homepage--filter {
  display: flex;
  gap: 7px;
  align-items: center;
  cursor: pointer;
}

.homepage--filter__buttons {
  background-color: violet;
  flex-basis: 100%;
}

.homepage--premium {
  flex: 1;
}

.homepage--questions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}