.homepage {
  max-width: 1250px;
  padding: 20px 0;
  margin: 0 auto;
}

.homepage--container {
  display: flex;
  gap: 20px;
  height: 100%;
}

.homepage--all {
  height: 600px;
  overflow-y: scroll;
  flex-basis: 60%;
  padding: 0 10px;
}

.homepage--all::-webkit-scrollbar {
  display: none;
}

.homepage--all__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 0;
}

.homepage--all__filter {
  display: flex;
}

.homepage--search {
  flex: 1;
}

.homepage--search input {
  width: 80%;
  padding: 10px 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--lightBlue);
  background-color: transparent;
}

.homepage--filter {
  display: flex;
  gap: 7px;
  align-items: center;
  cursor: pointer;
}

.homepage--filter__buttons {
  display: flex;
  gap: 20px;
  flex-basis: 100%;
}

.home--filter__btn {
  background-color: var(--lightBlue);
  color: var(--cream);
  padding: 7px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.homepage--premium {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  position: sticky;
  height: 500px;
  overflow-y: scroll;
  padding: 0 10px;
}

.homepage--premium::-webkit-scrollbar {
  display: none;
}

.homepage--questions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}